.user-list {
    padding: 5px;
    bottom: 50vh;
    right: 0px;
    position: absolute;
    z-index: 2;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    vertical-align:middle; 
    max-width: 50vw;
    
    i {
        font-size: 20px;
        padding-top: 0.15rem;
        padding-right: 0.2rem;
        padding-bottom: 0.15rem;
        padding-left: 0.2rem;
    }
}