<div class="row w-100 h-100 justify-content-center ">
  <div class="col-auto border middle">
    <form [formGroup]="formGroup">
      <div class="row pb-2 pt-2">
        <div class="col-sm-12 d-flex justify-content-center">
          <h2>Login</h2>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-sm-12">
          <hr class="m-1">
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-sm-6">
          User Name
        </div>
        <div class="col-sm-6">
          <app-textbox key="username" formControlName="username" placeholder="Enter Username"></app-textbox>
        </div>
      </div>
      <div class="row pb-2 pb-2">
        <div class="col-sm-6">
          Password
        </div>
        <div class="col-sm-6">
          <app-password key="password" formControlName="password" placeholder="Enter Password"></app-password>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-sm-6">
          <button
            type="button"
            [disabled]="!this.formGroup.valid || sendAsync"
            [ngClass]="{ 'btn btn-outline-info' : this.formGroup.valid}"
            class="btn btn-outline-secondary w-100"
            (click)="login()">Login</button>
        </div>
        <div class="col-sm-6">
          <i *ngIf="sendAsync" class="fa fa-spinner fa-spin float-right"></i>
        </div>
      </div>
      
    </form>
    <div *ngIf="loginError != null" class="row rounded mt-1 mb-1 ">
      <div class="col-sm-12">
        <hr class="m-1">
      </div>
      <div class="col-sm-12 d-flex justify-content-center">
        <span class="inline  bg-danger text-white text-center p-2 rounded">Login Failed : {{loginError}}</span>
      </div>
    </div>
  </div>
</div>
