<div class="row pb-2">
  <div class="col-sm-12">
    <form [formGroup]="formGroup">
      <div class="row">
        <div class="col-sm-12"  #searchBox>
          <app-textbox key="firstName" formControlName="address" placeholder="Enter Address">
          </app-textbox>
          <span class="text-white" *ngIf="isLoading">Searching Addresses ... </span><i *ngIf="isLoading"
              class="fa fa-spinner  fa-spin ror-search-spinner text-white"></i>
            
        </div>
      </div>
      <ul *ngIf="showAddresses" class="list-group">
        <li class="list-group-item" 
          *ngFor="let addr of searchedAddresses"
          (click)="addressPredictionSelected(addr)">{{addr.description}}</li>
      </ul>
    </form>
    
  </div>
</div>