.user-welcome {
    padding: 20px;
    top: 10px;
    right: 20px;
    position: absolute;
    z-index: 1;
    background-color: white;
    border-top-left-radius: 50vh;
    border-bottom-left-radius: 50vh;
}