
.owl-carousel {
    .owl-dot span{
        transition: all 0.3s !important;
        width: 15px !important;
        height: 15px !important;
        background-color: white !important;
        border: 1px solid lightgray !important;
    }

    .owl-dot.active span{
        transition: all 0.3s !important;
        width: 15px !important;
        height: 15px !important;
        border: 1px solid #d7d2bd !important;
        background-color: #d7d2bd !important;
    }
}