.bottom {
    padding: 5px;
    margin-bottom: 5px;
    bottom: 0px;
    max-height: 30vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    vertical-align:middle;    
    
    align-content: center;
}

.inner-container {
    min-height: inherit !important;
    border-radius: 10px;
    padding: 10px;

    h4 {
        display: inline;
    }
}