<div class="row pb-5 pr-2 pl-2">
  <div class="col-sm-12">
    <h4>Location List</h4>
  </div>
  <hr>
  <ng-container *ngIf="myLocations != null">
    <ng-container *ngFor="let item of myLocations">
      <div class="w-25 pointer-cursor border" (click)="focussAddress(item)" (dblclick)="OpenInfoWindow(item)">
        {{item?.label}}
      </div>
      <div class="w-75 pointer-cursor border" (click)="focussAddress(item)" (dblclick)="OpenInfoWindow(item)">
        {{item.address !== '' ? item.address : item.uuid}}
      </div>
    </ng-container>
  </ng-container>
</div>
<hr>
